---
import { PortableText } from "astro-portabletext";
import type { PortableTextNode } from "../../lib/sanity/types";
import SanityImage from "./SanityImage.astro";
import SanityCodeBlock from "./SanityCodeBlock.astro";
import SanityLink from "./SanityLink.astro";

interface Props {
  value: PortableTextNode[];
}

const { value } = Astro.props;
const components = {
  type: {
    image: SanityImage,
    codeBlock: SanityCodeBlock,
  },
  mark: {
    link: SanityLink,
  },
};
const onMissingComponent = (message: string) => {
  throw new Error(`Unsupported Portable Text component: ${message}`);
};
---

<div class="portable-note-body">
  <PortableText value={value} {components} {onMissingComponent} />
</div>
